<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Get It Done <br> With Us Today</h2>
        <p>
            Don’t sweat it! Our team of professional designers and installers have never met a challenge too great. Please Inquire with us about a specialty project.
        </p>
        <a href="/contact" class="button-solid">Request a Consult</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/images/about.jpg" alt="kitchen cabinets" width="1920" height="1280">
        </picture>
</section>