<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a aria-label="back to home" class="logo" href="/"><img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo-white.svg" alt="logo" width="264" height="78"></a>
            <p>
                Creating a space for every place. Make My Closet Guys your closet guys.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li><h2>Information</h2></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/testimonials">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul>
                    <li><h2>Services</h2></li>
                    <li><a href="/closets">Custom Closets</a></li>
                    <li><a href="/closets">Walk in Closets</a></li>
                    <li><a href="/kitchen-storage">Custom Pantries</a></li>
                    <li><a href="/laundry-room">Laundry Rooms</a></li>
                    <li><a href="/garage">Garage Cabinets & Storage</a></li>
                </ul>
                <ul>
                    <li><h2>Contact</h2></li>
                    <li><a href="/contact">24 Industrial Park Drive, Suite #5<br>Waldorf, MD 20602</a></li>
                    <li><a href="tel:240-823-7401">T: (240) 823-7401</a></li>
                    <li><a href="mailto:myclosetguysllc@gmail.com">Click to Email</a></li>
                    <li>
                        <div class="social">
                            <a aria-label="houzz profile" href="https://www.houzz.com/pro/myclosetguys" target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/houzz.svg" alt="logo" width="20" height="20">
                            </a>
                            <a aria-label="facebook profile" href="https://www.facebook.com/myclosetguys/" target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/facebook.svg" alt="logo" width="20" height="20">
                            </a>
                            <a aria-label="instagram profile" href="https://www.instagram.com/myclosetguysllc/" target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/instagram.svg" alt="logo" width="20" height="20">
                            </a>
                            <a aria-label="pinterest profile" href="https://www.pinterest.com/myclosetguysllc" target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/pinterest.svg" alt="logo" width="20" height="20">
                            </a>
                            <a aria-label="angi profile" href="https://www.angi.com/companylist/us/md/waldorf/my-closet-guys-reviews-10320630.htm" target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/angi.svg" alt="logo" width="20" height="20">
                            </a>
                            <a aria-label="google profile" href="https://g.page/r/CS9Y3jwmaaghEAE " target="_blank" rel="noopener">
                                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/google.svg" alt="logo" width="20" height="20">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.oakharborwebdesigns.com/" target="_blank" rel="noopener">Oak Harbor Web Designs</a>
        <span class="copyright"> Copyright 2022 - Present</span>
    </div>
</footer>