---
title: 'Contact Us | My Closet Guys'
description: "Contact Do you have a question regarding a custom project or design? Feel free to drop us a line! Contact Detail Have questions? Want to discuss a complicated project? Give us a call! We strive to be in constant communication with our customers until the job is done."
preloadImg: '/assets/images/picture10-m.webp'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css"/>
    <link rel="stylesheet" href="/css/salesforce.css"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Request Free Design & Quote</h1>
        <a href="tel:240-823-7401" class="button-solid">Call Now</a>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/picture4-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/picture4.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/picture4.jpg" alt="closet shelves" width="400" height="662">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<!-- <section id="contact-2195">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Price Match Guarantee</h2>
                <p class="cs-text">*Some restrictions applied</p>
        </div>
        <form class="cs-form" id="cs-form-2195" name="Contact Form3" method="post" action="/thank-you" netlify>
            <label class="cs-label" aria-label="name">
                <input class="cs-input" required type="text" id="name-2195" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email" aria-label="email">
                <input class="cs-input" required type="email" id="email-2195" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone" aria-label="phone">
                <input class="cs-input" required type="phone" id="phone-2195" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label" aria-label="message">
                <textarea class="cs-input cs-textarea" required name="Message" id="message-2195" placeholder="Message"></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section> -->
                                

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-2061">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Price Match Guarantee</h2>
                <p class="cs-text">*Some restrictions applied</p>
            </div>
            <form class="cs-form" id="cs-form-2061" name="Contact Form" data-netlify-recaptcha="true" method="POST" netlify-honeypot="bot-field" netlify action="/thank-you">
                <input type=hidden name="oid" value="00D5e000003TMt1">
                <input type=hidden name="retURL" value="https://myclosetguys.com/thank-you/">
                <label class="hidden cs-label">
                    Don’t fill this out if you’re human: <input class="cs-input" name="bot-field" />
                </label>
                <label class="cs-label cs-split">
                    First Name *
                    <input class="cs-input" maxlength="40" name="first_name" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Last Name *
                    <input class="cs-input" id="last_name" maxlength="80" name="last_name" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Email *
                    <input class="cs-input" id="email" maxlength="80" name="email" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    City
                    <input class="cs-input" id="city" maxlength="40" name="city" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    State/Province
                    <input class="cs-input" id="state" maxlength="20" name="state" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Phone
                    <input class="cs-input" id="phone" maxlength="40" name="phone" size="20" type="tel" />
                </label>
                <label class="cs-label">
                    Lead Source Notes:
                    <input class="cs-input" id="00NVH000002VR1B" maxlength="255" name="00NVH000002VR1B" size="20" type="text" />
                </label>
                <label class="cs-label">
                    Best Time to Call:
                    <select class="cs-input" id="00NVH000002VQhp" name="00NVH000002VQhp" title="Best Time to Call">
                        <option value="">--None--</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                    </select>
                </label>
                <label class="cs-label">
                    Project Description
                    <textarea class="cs-textarea" id="00N5e00000dROtN" name="00N5e00000dROtN" type="text" wrap="soft"></textarea>
                </label>
                <div data-netlify-recaptcha="true"></div>
                <div class="cs-wrapper">
                    <button class="cs-button-solid cs-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}