---
title: 'Contact Us | My Closet Guys'
description: "Contact Do you have a question regarding a custom project or design? Feel free to drop us a line! Contact Detail Have questions? Want to discuss a complicated project? Give us a call! We strive to be in constant communication with our customers until the job is done."
preloadImg: '/assets/images/picture10-m.webp'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Request Free Design & Quote</h1>
        <a href="tel:240-823-7401" class="button-solid">Call Now</a>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/picture4-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/picture4.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/picture4.jpg" alt="closet shelves" width="400" height="662">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                    FORM                      -->
    <!-- ============================================ -->

    <section id="form">
        <div class="left-section">
            <h2 class="title">Price Match Guarantee*</h2>
            <p>*Some restrictions applied</p>
            <form id="contact" name="Contact Form2" method="post" data-netlify="true" data-netlify-recaptcha="true">
                <div class="input-group">
                    <label for="name">Full Name</label>
                    <input id="name" aria-label="name" class="input1" name="name" placeholder="Full Name" type="text" tabindex="1" required>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <input id="email" aria-label="email" class="input1 right" name="email" placeholder="Email Address" type="email" tabindex="2" required>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>

                <div class="input-group">
                    <label for="phone">Phone</label>
                    <input id="phone" aria-label="phone number" class="input1" name="phone" placeholder="Phone Number" type="tel" tabindex="3" required>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>
                <div class="input-group">
                    <label for="location">Location</label>
                    <input id="location" aria-label="location" class="input1 right" name="location" placeholder="Your Location" type="text" tabindex="4" required>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>
                <div class="input-group">
                    <label for="how">How did you hear about us</label>
                    <input id="how" aria-label="how did you hear about us" name="hear" placeholder="How Did You Hear About Us" type="text" tabindex="5" required>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>
                <div id="checks" class="input-group with100 checks">
                    <span class="label">Select you areas of interest:</span>
                    <div class="checkbox">
                        <input type="checkbox" id="closet1" name="reach-in" value="yes">
                        <label for="closet1"> Reach-in Closet</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet2" name="home-office" value="yes">
                        <label for="closet2"> Home Office</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet3" name="laundry-area" value="yes">
                        <label for="closet3"> Laundry Area</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet4" name="walk-in" value="yes">
                        <label for="closet4"> Walk-in Closet</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet5" name="pantry" value="yes">
                        <label for="closet5"> Pantry</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet6" name="garage-cabinets" value="yes">
                        <label for="closet6"> Garage Cabinets</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet7" name="hobby-center" value="yes">
                        <label for="closet7"> Hobby center</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="closet8" name="other" value="yes">
                        <label for="closet8"> Other</label>
                    </div>
                </div>
                <div id="select" class="input-group width100">
                    <label for="how">Best time to call?</label>
                    <select id="cars" name="when best to call">
                        <option value="morning">Morning</option>
                        <option value="afternoon">Afternoon</option>
                        <option value="evening">Evening</option>
                    </select>
                </div>
                <div class="input-group textarea">
                    <label for="message">Message</label>
                    <textarea id="message" aria-label="write your message" name="message" placeholder="Tell us what you need help with" required></textarea>
                    <div aria-hidden="true" class="hover-box"></div>
                </div>
                <p class="form-submit">
                    <div data-netlify-recaptcha="true"></div>
                    <button name="submit" type="submit" id="contact-submit" class="button-solid" data-submit="...Sending">Submit</button>
                </p>
            </form>
        </div>
        <div class="contact-right">
            <div class="info-group">
                <span class="heading">Location</span>
                <span class="info">Waldorf, MD</span>
            </div>
            <div class="info-group">
                <span class="heading">Phone</span>
                <a class="info" href="tel:240-823-7401">(240) 823-7401</a>
            </div>
            <div class="info-group">
                <span class="heading">Email</span>
                <a class="info" href="mailto:myclosetguysllc@gmail.com">Click to Email</a>
            </div>
            <div class="info-group">
                <span class="heading">Hours</span>
                <span class="info last">Mon to Fri: 8am to 6pm</span>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <h2 class="title">What People Say About Us</h2>
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                So incredibly happy with our new closet! My closet guys were very professional, quick and so very helpful! They gave us their recommendations which were extremely helpful. Thank you guys for the amazing work! Will def be using you again in the future!
                </p>
                <div class="star-group">
                    <span class="name">Christie George<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                The team at My Closet Guys are fantastic! They’re orderly and responsive to my calls, and extremely knowledgeable about the subjects I had questions about. If you need a custom organization for one of your rooms, you can’t go wrong with these guys!
                </p>
                <div class="star-group">
                    <span class="name">MDB<span class="desc">Company Owner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                I love love my closet! It can hold all my thousands of clothes and I don’t ever have to worry about it fallen. I would definitely recommend that if you are in search of a custom closet don’t hesitate to contact My Closet Guys. They are the best!
                </p>
                <div class="star-group">
                    <span class="name">Chantell Duckett<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
        <a class="button-solid" href="/testimonials">Read More Reviews</a>
    </section>
{% endblock %}