---
title: 'Projects - My Closet Guys'
description: "Projects We work hard to design and create your ideal space. Check out some of our past projects and learn why we are a top-rated custom storage and organization business. Living Room We provide customized organization and storage designs for your living room. We specialize in designs for: Fireplace Mantles Entertainment Centers Under-stair Storage Extra"
preloadImg: '/images/portfolio/extra-spaces/banner-m.webp'
permalink: 'extra-spaces/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/project-gallery.css" />
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Extra Spaces</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/picture10-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/picture10.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/picture10.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
        <!--                  Portfolio                   -->
        <!-- ============================================ -->

        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <picture class="one">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port1.jpg" alt="new hallway" width="420" height="567">
                     </picture>
                     <picture class="two">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port4.jpg" alt="new home construction" width="420" height="630">
                     </picture>
                     <picture class="three">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port7.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port7.jpg" alt="building a new wall" width="420" height="512">
                     </picture>
                </div>
                <div class="row">
                    <picture class="one">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port2.jpg" alt="new kitchen" width="420" height="492">
                     </picture>
                     <picture class="two">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port5.jpg" alt="apartment addition" width="420" height="517">
                     </picture>
                     <picture class="three">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port8.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port8.jpg" alt="kew kitchen cabinets" width="420" height="629">
                     </picture>
                </div>
                <div class="row">
                    <picture class="one">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port3.jpg" alt="new black window structure" width="420" height="625">
                     </picture>
                     
                     <picture class="two">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port6.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port6.jpg" alt="kitchen rebovation" width="420" height="452">
                     </picture>
                     
                     
                     <picture class="three">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/port9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/port9.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/port9.jpg" alt="bathroom renovation" width="420" height="629">
                     </picture>
                </div>
            </div>
        </section>
{% include 'components/cta.html' %}
{% endblock %}