---
title: 'Projects | My Closet Guys | Waldorf, MD'
description: "We work hard to design and create your ideal space. Check out some of our past projects and learn why we are a top-rated custom storage and organization business. Living Room We provide customized organization and storage designs for your living room. We specialize in designs for: Fireplace Mantles Entertainment Centers Under-stair Storage Extra"
preloadImg: '/assets/images/picture10-m.webp'
permalink: 'projects/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css" />
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Projects</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/picture2-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/picture2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/picture2.jpg" alt="closet shelving" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Portfolio                   -->
<!-- ============================================ -->

<section id="portfolio">
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/extra-spaces/cover-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/extra-spaces/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/extra-spaces/cover.jpg" alt="extra storage" width="553" height="383">
            </picture>
            <h3>Extra Spaces</h3>
            <p>
            We provide customized organization and storage designs for your living room. We specialize in designs for:
        </p>
        <ul>
            <li>Fireplace Mantles</li>
            <li>Entertainment Centers</li>
            <li>Under-stair Storage</li>
            <li>Extra Storage Rooms</li>
            <li>+ Many more</li>
        </ul>
        <a href="/extra-spaces">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/closets/cover.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/closets/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/closets/cover.jpg" alt="Closet storage" width="553" height="383">
            </picture>
            <h3>Closets</h3>
            <p>
            We provide customized organization and storage designs for your bedroom. We specialize in designs for:
        </p>
        <ul>
            <li>Walk-in Closets</li>
            <li>Reach-in Closets</li>
            <li>Wall-beds</li>
            <li>Libraries & Shelving</li>
            <li>+ Many more</li>
        </ul>
        <a href="/closets">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/garage/cover-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/garage/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/garage/cover.jpg" alt="garage storage" width="553" height="383">
            </picture>
            <h3>Garage</h3>
            <p>
            We provide customized organization and storage designs for your garage. We specialize in designs for:
        </p>
        <ul>
            <li>Work benches</li>
            <li>Trailers</li>
            <li>Garage Storage</li>
            <li>Countertops</li>
            <li>Shelving & Cabinets</li>
            <li>+ Many more</li>
        </ul>
        <a href="/garage">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/kitchen-pantries/cover.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/kitchen-pantries/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/kitchen-pantries/cover.jpg" alt="kitchen storage" width="553" height="383">
            </picture>
            <h3>Kitchen Pantries</h3>
            <p>
            We provide customized organization and storage designs for your kitchen. We specialize in designs for:
        </p>
        <ul>
            <li>Epoxy Countertops</li>
            <li>Pantries</li>
            <li>Kitchen Islands</li>
            <li>Wine Racks</li>
            <li>+ Many more</li>
        </ul>
        <a href="/kitchen-storage">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/offices/cover-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/offices/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/offices/cover.jpg" alt="" width="553" height="383">
            </picture>
            <h3>Office Storage</h3>
            <p>
            We provide customized organization and storage designs for your Office. We specialize in designs for:
        </p>
        <ul>
            <li>Office Countertops</li>
            <li>Shelving & Cabinets</li>
            <li>Drawers</li>
            <li>Trailers</li>
            <li>+ Many more</li>
        </ul>
        <a href="/office-storage">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/mud-rooms/cover-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/mud-rooms/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/mud-rooms/cover.jpg" alt="" width="553" height="383">
            </picture>
            <h3>Mud Rooms</h3>
            <p>
            We provide customized organization and storage designs for your mud rooms. We specialize in designs for:
        </p>
        <ul>
            <li>Cubby Holes</li>
            <li>Shelving & Cabinets</li>
            <li>Coat Racks</li>
            <li>Extra Storage</li>
            <li>+ Many more</li>
        </ul>
        <a href="/mud-rooms">View Projects →</a>
    </div>
    <div class="card">
        <picture class="right">
            <source media="(max-width: 600px)" srcset="/assets/images/portfolio/laundry-rooms/cover-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/laundry-rooms/cover.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/portfolio/laundry-rooms/cover.jpg" alt="" width="553" height="383">
            </picture>
            <h3>Laundry Rooms</h3>
            <p>
            We provide customized organization and storage designs for your laundry room. We specialize in designs for:
        </p>
        <ul>
            <li>Countertops</li>
            <li>Shelving & Cabinets</li>
            <li>Drawers</li>
            <li>+ Many more</li>
        </ul>
        <a href="/laundry-room">View Projects →</a>
    </div>
</section>
{% include 'components/cta.html' %}
{% endblock %}