---
title: 'Contact Us | My Closet Guys'
description: "Contact Do you have a question regarding a custom project or design? Feel free to drop us a line! Contact Detail Have questions? Want to discuss a complicated project? Give us a call! We strive to be in constant communication with our customers until the job is done."
preloadImg: '/assets/images/picture10-m.webp'
permalink: 'test-form/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css"/>
    <link rel="stylesheet" href="/css/salesforce.css"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Request Free Design & Quote</h1>
        <a href="tel:240-823-7401" class="button-solid">Call Now</a>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/picture4-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/picture4.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/picture4.jpg" alt="closet shelves" width="400" height="662">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-2061">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Price Match Guarantee</h2>
                <p class="cs-text">*Some restrictions applied</p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-2061" name="Contact Form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00D5e000003TMt1" method="POST" data-netlify-recaptcha="true">
                <input type=hidden name="oid" value="00D5e000003TMt1">
                <input type=hidden name="retURL" value="https://myclosetguys.com/contact/">
                <label class="cs-label cs-split">
                    First Name *
                    <input class="cs-input" maxlength="40" name="first_name" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Last Name *
                    <input class="cs-input" id="last_name" maxlength="80" name="last_name" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Email *
                    <input class="cs-input" id="email" maxlength="80" name="email" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    City
                    <input class="cs-input" id="city" maxlength="40" name="city" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    State/Province
                    <input class="cs-input" id="state" maxlength="20" name="state" size="20" type="text" />
                </label>
                <label class="cs-label cs-split">
                    Phone
                    <input class="cs-input" id="phone" maxlength="40" name="phone" size="20" type="tel" />
                </label>
                <label class="cs-label">
                    Lead Source Notes:
                    <input class="cs-input" id="00NVH000002VR1B" maxlength="255" name="00NVH000002VR1B" size="20" type="text" />
                </label>
                <label class="cs-label">
                    Best Time to Call:
                    <select class="cs-input" id="00NVH000002VQhp" name="00NVH000002VQhp" title="Best Time to Call">
                        <option value="">--None--</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                    </select>
                </label>
                <label class="cs-label">
                    Project Description
                    <textarea class="cs-textarea" id="00N5e00000dROtN" name="00N5e00000dROtN" type="text" wrap="soft"></textarea>
                </label>
                <div class="cs-wrapper">
                    <button class="cs-button-solid cs-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <h2 class="title">What People Say About Us</h2>
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                So incredibly happy with our new closet! My closet guys were very professional, quick and so very helpful! They gave us their recommendations which were extremely helpful. Thank you guys for the amazing work! Will def be using you again in the future!
                </p>
                <div class="star-group">
                    <span class="name">Christie George<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                The team at My Closet Guys are fantastic! They’re orderly and responsive to my calls, and extremely knowledgeable about the subjects I had questions about. If you need a custom organization for one of your rooms, you can’t go wrong with these guys!
                </p>
                <div class="star-group">
                    <span class="name">MDB<span class="desc">Company Owner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                I love love my closet! It can hold all my thousands of clothes and I don’t ever have to worry about it fallen. I would definitely recommend that if you are in search of a custom closet don’t hesitate to contact My Closet Guys. They are the best!
                </p>
                <div class="star-group">
                    <span class="name">Chantell Duckett<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
        <a class="button-solid" href="/testimonials">Read More Reviews</a>
    </section>
{% endblock %}