---
title: 'Testimonials | My Closet Guys | Waldorf, MD'
description: "We strive to provide excellent customer service and quality for all custom designs and projects. Come check out what our customers have to say about us! What Our Happy Clients Say See how our storage and organization space solutions have helped our customers! So incredibly happy with our new closet! My closet guys were"
preloadImg: '/assets/images/picture7-m.webp'
permalink: '/testimonials'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css" />
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Reviews</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/picture7-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/picture7.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/picture7.jpg" alt="closet shelving" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews">
    <div class="container">
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                So incredibly happy with our new closet! My closet guys were very professional, quick and so very helpful! They gave us their recommendations which were extremely helpful. Thank you guys for the amazing work! Will def be using you again in the future!
                </p>
                <div class="star-group">
                <span class="name">Christie George<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                The team at My Closet Guys are fantastic! They’re orderly and responsive to my calls, and extremely knowledgeable about the subjects I had questions about. If you need a custom organization for one of your rooms, you can’t go wrong with these guys!
                </p>
                <div class="star-group">
                <span class="name">MDB<span class="desc">Company Owner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                I love love my closet! It can hold all my thousands of clothes and I don’t ever have to worry about it fallen. I would definitely recommend that if you are in search of a custom closet don’t hesitate to contact My Closet Guys. They are the best!
                </p>
                <div class="star-group">
                    <span class="name">Chantell Duckett<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                Very professional company. They were able to help me maximize my closet space. I couldn't believe how quick and easy the process was. In less then 3 hours I had 2 closets done and they left the space spotless.
                </p>
                <div class="star-group">
                    <span class="name">Joyce Reid<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                My Closet Guys designed and installed desks and shelving for my home office and it turned out beautifully - even better than imagined. We worked together on the design for several weeks - they had great ideas and suggestions. Jimmy and John are responsive, timely, and very easy to work with. I’d recommend them without hesitation. 
                </p>
                <div class="star-group">
                    <span class="name">Jennifer Holt<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                My Closet Guys is the best company out there today. They’re able to come up with a number of plans and ideas for every situation no matter how unique. In my particular case they came up with a plan that I was able to adapt to my needs.
                </p>
                <div class="star-group">
                    <span class="name">Joe Plaza<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                I highly recommend My Closet Guys! They are professional, courteous and create an exceptional final product.
                </p>
                <div class="star-group">
                    <span class="name">Elizabeth Herriott<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                My closet guys are awesome! After my wire shelving fell, not once, but twice, they came to my rescue. It was quick and effortless (a little effort to clean out my mess), and I now have a closet I never imagined I'd have. They are the best! 
                </p>
                <div class="star-group">
                    <span class="name">Sarah Lane<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                My Closet Guys are the BOMB! Not only do they have quick turn around for install, they are very reasonable. Their work is top notch, and they take care of Vets which is a plus with me. Thanks guys
                </p>
                <div class="star-group">
                    <span class="name">Monie Exum<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                Beyond happy with the work completed by My Closet Guys. We forgot to get before pictures but the finished product is absolutely amazing. Thanks again and we look forward to working with y’all again
                </p>
                <div class="star-group">
                    <span class="name">Ebony Casley<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                Excellent customer service! The best service! They are very responsible, punctual, reasonable competitive cost, and the quality of the material is outstanding. No doubt, I will order my next closets with this company.
                </p>
                <div class="star-group">
                    <span class="name">Nancy Lee<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                I definitely will be using these guys again. the service is great and price is reasonable. They did my closet in 2hrs and it looks and feel amazing.  Thanks John!
                </p>
                <div class="star-group">
                    <span class="name">Enamsuo Hamuos<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                John and his team designed something PERFECT for each closet based on a few questions they asked me. Such a world of difference than a prior company that didn’t offer much guidance during their estimate. They installed all 4 closets in under 3 hours and cleaned up everything.
                </p>
                <div class="star-group">
                    <span class="name">Hannah Snyder<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile-woman.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                These guys were on time, efficient, considerate and they did an amazing job! They did four bedrooms/ five closets for us. we couldn't be any happier.  Thank you so much for servicing us!
                </p>
                <div class="star-group">
                    <span class="name">Dawn Shumaker<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/images/profile.svg" alt="profile image" width="99" height="99">
                </picture>
                <p>
                10/10! Definitely recommend My closet guys!! Very professional! They make sure the job is done right and exactly the way you pictured it!
                </p>
                <div class="star-group">
                    <span class="name">Christie Bowen<span class="desc">Homeowner</span></span>
                    <picture>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
        </div>
    </div>
    <a href="https://g.page/r/CS9Y3jwmaaghEAE " class="button-solid" target="_blank" rel="noopener">Leave A review</a>
</section>
{% include 'components/cta.html' %}
{% endblock %}