---
title: 'Thank you for your submission | My Closet Guys'
description: "Contact Do you have a question regarding a custom project or design? Feel free to drop us a line! Contact Detail Have questions? Want to discuss a complicated project? Give us a call! We strive to be in constant communication with our customers until the job is done."
preloadImg: '/assets/images/picture10-m.webp'
permalink: 'thank-you/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/thank-you.css"/>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1482">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Submission Recieved!</h1>
            <p class="cs-text">
                Thank you for contacting us, we will be in touch shortly sbout your project!
            </p>
            <a href="/" class="cs-solid">Back To home</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>

{% endblock %}